/**/
div.RespondContainer
{
    background: #EBEBEB;
    width: 100%;
    font-size: 1.2em;
    border-top: 1px solid #888;
    padding: 0px 0px 6px 0px;
}
div.RespondWhere
{
    padding: 3px;
    background: #A9A9A9;
    margin: 0px 0px 12px 0px;
}
div.Respond table
{
    padding: 3px;    
    margin: auto;
}
